@model List<Cricket_Club.Models.Cricketer>
@{
}

<link rel="stylesheet" href="~/css/ViewMemberStyle.css">

<!DOCTYPE html>
<html>
<body class="body">
<div class="div-bg">
    <br />
    <div class="div-nested">
<div class="row  fw-normal">
    <h1 class="col-11"><i class="bi bi-clipboard-data"></i> Club Member..</h1><p class="col-1"><a asp-action="ExportViaExcel" class="btn btn-primary">Export </a></p>
</div>

<br />
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Team</th>
                <th>MatchPlayed</th>
                <th>TatalScore</th>
                <th>Salary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Gender</td>
                    <td>@data.Team</td>
                    <td>@data.MatchPlayed</td>
                    <td>@data.TotalScore</td>
                    <td>@data.Salary</td>
                    <td><a href="EditMember/@data.Id">Edit Member</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>
        </div>
<br />
    </div>
</body>
</html>